@model List<Person>;
@{
    ViewData["Title"] = "Статьи";
    Layout = "_Layout";
}
    <div class="Arcticle">
        <ul>
            <li>
            <a asp-action="Macroses">
                    <img src="/img/logo_macro.jpg" alt="Логотип макроса">
                    <h2>Макросы</h2>
                    <div>Макрос - это программный объект, который во время вычисления заменяется на новый объект, создаваемый определением макроса на основе его аргументов</div>
                </a>
            </li>
            <li>
            <a asp-action="KontrollerDany">
                    <img src="/img/Control.png" alt="Логотип макроса">
                    <h2>Составляющие компилятора. Фазы компиляции.</h2>
                    <div>Компилятор — программа, переводящая написанный на языке программирования текст в набор машинных кодов.</div>
                </a>
            </li>
            <li>
            <a asp-action="Assembler">
                    <img src="/img/Assembler.jpg" alt="Логотип макроса">
                    <h2>Язык ассемблера</h2>
                    <div>Язы́к ассе́мблера (англ. assembly language) — машинно-ориентированный язык программирования низкого уровня.</div>
                </a>
            </li>
        </ul>
    </div>